# Compiled Lua sources
luac.out
.DS_Store
*.sqlite
log.txt

# Neovim
nvim/.config/nvim/plugin/packer_compiled.lua

# Joplin
joplin/.config/joplin/tmp/
joplin/.config/joplin/cache/
joplin/.config/joplin/resources/
joplin/.config/joplin/log.txt
joplin/.config/joplin/settings.json
joplin/.config/joplin/database.sqlite
joplin-desktop/.config/joplin-desktop/cache/
joplin-desktop/.config/joplin-desktop/resources/
joplin-desktop/.config/joplin-desktop/tmp/
joplin-desktop/.config/joplin-desktop/settings.json

# LF
lf/.config/lf/shortcutrc

# Aerc
aerc/.config/aerc/accounts.conf

# Tut
tut/.config/tut/accounts.toml
