# Compiled Lua sources
luac.out
.DS_Store
*.sqlite
log*.txt
*.log


# Neovim
nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/lazy-lock.json


# Joplin
joplin/.config/joplin/tmp/
joplin/.config/joplin/cache/
joplin/.config/joplin/resources/
joplin/.config/joplin/log.txt
joplin/.config/joplin/settings.json
joplin/.config/joplin/database.sqlite
joplin-desktop/.config/joplin-desktop/cache/
joplin-desktop/.config/joplin-desktop/resources/
joplin-desktop/.config/joplin-desktop/tmp/
joplin-desktop/.config/joplin-desktop/settings.json
joplin-desktop/.config/joplin-desktop/window-state-prod.json
joplin-desktop/.config/joplin-desktop/window-state-prod.json


# Tut
tut/.config/tut/accounts.toml

#task
taskwarrior/.config/task/certs
